<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=DESKTOP-3RQFHH4\SQLEXPRESS01;Database=EducationPortal;User Id=PracticeUser; Password=password1;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>