
.main{
    margin-left: 45%;
    border: solid 2px black;
    padding: 20px;
    width: max-content;
}

.z0{
    z-index: 0;
}

.z1{
    z-index: 1;
}

.z2{
    z-index: 2;
}

.margin-20{
    margin-top: -20px;
}

.circle{
    border: solid 1px black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.red{
    color: red;
    background-color: red;
}

.yellow{
    color: yellow;
    background-color: yellow;
}

.green{
    color: green;
    background-color: green;
}