<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=DESKTOP-3RQFHH4\SQLEXPRESS01;Initial Catalog=Practice;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="AdditionTask" connectionString="Data Source=DESKTOP-3RQFHH4\SQLEXPRESS01;Initial Catalog=Books;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>